*{
    padding: 0; margin: 0;
    border-radius: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;  /* Google Font */
    background-color: rgb(0,0,0);
}

.sidebar ,.main{
    margin-top: 9px; height: 97.5vh;
}

/*! sidebar */
.sidebar {
    position: fixed;
    width: 288px;
    margin-left: 9px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.upbar,.downbar{
    background-color: rgb(18, 18, 18);
    padding: 8px 12px;
}

/*@upbar*/
.upbar{
    grid-row: 1;
    margin-bottom: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;  font-weight: 500;
    font-size: 20px;
}
.upbar .option { 
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    height: 30%;
    text-decoration: none; /* removes the default underline of links */
    color: inherit; /* makes the link text inherit the color of its parent */
    border-radius: 30px
}
.upbar .option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 1s;
}

.upbar .logo{
    width: 30px; height: 30px; 
}

/*@ downbar*/
.downbar {
    grid-row: 2;
    grid-template-rows: 1fr 4fr;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}
    /*#library*/
.downbar .library{
    width: 100%;
    grid-row: 1;
    padding-left: 10px;
    border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;
    justify-content: space-between;
    box-shadow: 0 20px 20px -5px rgb(0, 0, 0);
    display:grid;
    grid-template-rows: 1fr 1fr;
    margin:0;
}

.downbar .library .add-library{
    display: flex;
    grid-row: 1/2;
}

.downbar .library .add-library .option{
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    margin-top: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;  font-weight: 700;
    text-decoration: none;
    height : 20px; 
    align-items: center; 
    font-size: 15px;
}

.downbar .library .add-library #library{
    padding-top: 10px;
    padding-bottom: 10px;
}

.downbar .library .add-library #plus {
    width: 20px; 
    margin-left: 30px;
    border-radius: 50%; /* Make the border a perfect circle */
    justify-content: center; /* Center the content horizontally */
    padding: 10px; /* Add some padding to create space around the content */
}

.downbar .library .option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 0.5s;
}
.downbar .library .add-library .logo{
    width: 25px; height: 25px; 
}

.downbar .library .filter{
    display: flex;
}
.downbar .library .filter .option{
    text-decoration: none;
    color: #ffffff;
    padding : 10px;
    font: 400 12px 'Montserrat', sans-serif;
    background-color: #2a2a2a;
    margin: 10px;
    border-radius: 80px;
}
.downbar .library .filter .option:hover{
    background-color: rgb(30, 215, 96,0.5);
    transition-duration: 0.5s;
    
}
 /*#playlists*/
 .playlists {
    grid-row: 2;
    margin-left: 6px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px; /* Adds space between the grid items */
    overflow-y: auto; /* Enables vertical scrolling */
    height: 55.4vh; /* Set a specific height */
}

.playlist{
    border: 2px solid red;
    height: 64px; /* Sets the height of each playlist to 64px */
}

/* This applies to the scrollbar in .playlists */
.playlists::-webkit-scrollbar {
    width: 10px;
}

.playlists::-webkit-scrollbar-track {
    background: transparent;
}

.playlists::-webkit-scrollbar-thumb {
    background: transparent;
    height: 20px; /* Set the height of the scrollbar thumb */
    border-radius: 20px;  
}

.playlists:hover::-webkit-scrollbar-thumb {
    background: #888;
}


/*! main */
.main {
    position: fixed;
    background-color: rgb(18, 18, 18);
    margin-left: 305px;
    width: calc(99% - 305px);
}