*{
    font-size: 19px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: rgb(172, 166, 166);
}

body{
    background-color: black;
}

.container{
    width: 100%;
    height: 660px;
    margin:auto;
    text-align:left;
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: 1fr 4fr; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container div{
    background-color: rgb(22, 22, 22);
    border-radius: 6px;
}

/* Main */
.main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.main iframe{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
}

/* sidebar */
.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}
.sidebar_heading{
    padding-top: 18px;
    padding-left: 15px;
    height: 6%;
}
.sidebar_tags{
    padding-top: 18px;
    padding-left: 12px;
    height: 6%;
}
.sidebar_tags span{
    color: white;
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
    margin-right: 8px;
}
.sidebar_recents{
    height: 6%;
    display: grid;
    grid-template-columns: 75% 25%;
    padding-left: 18px;
    padding-top: 18px;
}
.sidebar_recents_search{
    grid-column-start: 1;
    grid-column-end: 2;
}
.sidebar_recents_recents{
    font-size: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.sidebar_playlists{
    height: 82%;
    padding-left: 18px;
    padding-top: 18px;
}
.sidebar_playlists img{
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.sidebar_playlists_playlist{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 3px;
}
.sidebar_playlists_playlist_pic{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.sidebar_playlists_playlist_upper{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
.sidebar_playlists_playlist_down{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 16px;
    color: #888;
}

/* sidebar menu */
.menu{
    background-color: bisque;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}
.menu div{
    padding: 15px;
}

/* Footer */
.footer{
    background-color: black;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}